<div class="title">
        <div class="return">
            <a href="/">
                <i class="iconfont icon-fanhui"></i>
            </a>
           
        </div>
        <div class="blur" style="background-image : url('//fuss10.elemecdn.com/3/f9/3d74047272748ef06842b7a3b6b14jpeg.jpeg?imageMogr/format/webp/thumbnail/750x/thumbnail/!40p/blu')"></div>
        <div class="conimg"><img src="//fuss10.elemecdn.com/3/f9/3d74047272748ef06842b7a3b6b14jpeg.jpeg?imageMogr/format/webp/thumbnail/150x/" alt=""></div>
       
        <div class="name__detail">
            <div class="names">
                <div class="name">
                    <span>
                        {{data_rst.name}}
                    </span>
                    <i></i>
                </div>
                <div class="name--detail">
                    <span>
                        评价{{data_rst.rating}}
                    </span>
                    <span>
                        月售{{data_rst.recent_order_num}}单
                    </span>
                    <span>
                        商家配送
                        <span>
                            约{{data_rst.order_lead_time}}分钟
                        </span>
                    </span>
                </div>
            </div>
            <div class="activity">
                <div class="activity__one">
                    <div class="moeny">
                        <span class="moeny--meta">￥</span><span class="moeny--price">{{redpack.value}}&nbsp; </span>
                    </div>
                    <div class="ky">
                        <span>
                            {{redpack.title_detail}}
                        </span>
                    </div>
                </div>
                <div class="activity__two">
                    <span class="lq">
                            &nbsp;领取
                    </span>
                </div>
            </div>
            <div class="mj">
                <div class="con__tip">
                    <span class="tip">满减</span>
                    <span class="tip__detail">满10减3，满20减6</span>
                </div>
                <div class="tips">
                    <span>16个优惠</span>
                    
                </div>
            </div>
            <div class="gg">
                    <p>
                        {{data_rst.promotion_info}}
                    </p> 
            </div>
        </div>
    </div>