
<header>
        <a class="header--location">
            <i class="iconfont icon-weizhi"></i>
            <span>嘉创·E人国际
                <i></i>
            </span>
        </a>
    </header>
    <div class="header--seach">
        <a href="">
            <i class="iconfont icon-xingtaiduICON_sousuo---copy"></i>
            <span>搜索饿了么商家、商品名称</span>
        </a>
    </div>
    
    <section>
        <div class="__swiper">
        
        </div>
        <div class="__banner">
                
        </div>
        <div class="__advertising">
            
        </div>
        <div class="shoplist__title">
            <span>
                推荐商家
            </span>
        </div>
        <div class="__shoplist">

        </div>
        

    </section>
    
    
