<div class="order-container">
    <div class="the-order">
        <div class="order-title">
            <div class="order-back-btn">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIzMiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE2LjU1MiA1LjYzM0wxNC41MDggMy41OSAyLjI0MyAxNS44NTMgMTQuNTA4IDI4LjQxbDIuMDQ0LTIuMDQzLTEwLjIyLTEwLjUxM3oiLz48L3N2Zz4="
                    alt="">
            </div>
            <h1 class="the-title-of-order">
                订单
            </h1>
        </div>
        {{#each data}}
        <div class="total-container">
            <div class="order-list">
                <div class="theone-of-orderlist">
                    <a class="order-details" href="javascript:;">
                        <div class="order-store">
                            <img class="order-store-img" src="https://fuss10.elemecdn.com/0/98/dcae8ae27f14be0d2e2ed46a742fdjpeg.jpeg?imageMogr/format/webp/thumbnail/!64x64r/gravity/Center/crop/64x64/"
                                alt="" class="store-img">
                            <div class="order-store-details">
                                <div class="order-store-details-container">
                                    <div class="order-status-container">
                                        <h2 class="order-store-name">{{this.restaurant_name}}</h2>
                                        <span class="current-status-of-order">订单已取消</span>
                                    </div>
                                    <div class="pd-arrival-time">
                                        {{this.formatted_created_at}}
                                    </div>
                                </div>
                                <div class="the-totalnumber-of-goods">
                                    <p><span>麻辣鸡翅</span><span>4件商品</span></p>
                                    <span class="total-prices-of-goods">￥54.30</span>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>