<div class="order-container">
    <div class="the-order">
        <div class="order-title">
            <div class="order-back-btn">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIzMiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE2LjU1MiA1LjYzM0wxNC41MDggMy41OSAyLjI0MyAxNS44NTMgMTQuNTA4IDI4LjQxbDIuMDQ0LTIuMDQzLTEwLjIyLTEwLjUxM3oiLz48L3N2Zz4="
                    alt="">
            </div>
            <h1 class="the-title-of-order">
                订单
            </h1>
        </div>
        
        <div class="total-container">
            <div class="order-list">
                <div class="theone-of-orderlist">
                    <a class="order-details" href="javascript:;">
                        <div class="order-store">
                            <img class="order-store-img" src="//fuss10.elemecdn.com/3/f9/3d74047272748ef06842b7a3b6b14jpeg.jpeg?imageMogr/format/webp/thumbnail/150x/"
                                alt="" class="store-img">
                            <div class="order-store-details">
                                <div class="order-store-details-container">
                                    <div class="order-status-container">
                                        <h2 class="order-store-name">{{data.shopName}}</h2>
                                        <span class="current-status-of-order">等待支付</span>
                                    </div>
                                    <div class="pd-arrival-time">
                                        {{data.time}}
                                    </div>
                                </div>
                                <div class="the-totalnumber-of-goods">
                                    <p><span>{{data.goodName}}等</span><span>{{data.num}}件商品</span></p>
                                    <span class="total-prices-of-goods">￥{{data.price}}</span>
                                </div>
                            </div>

                        </div>
                    </a>
                    <div class="order-paybtn">
                        <span>去支付(还剩</span><span class="timespan">10</span>秒)
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>