<div class="con__banner">
        <div class="banner">
            <h3>品质套餐</h3>
            <div class="food__title">
                搭配齐全吃的好
            </div>
            <div class="buying">
                立即抢购 >
            </div>
            <img src="https://fuss10.elemecdn.com/d/d4/16ff085900d62b8d60fa7e9c6b65dpng.png?imageMogr/format/webp/thumbnail/!240x160r/gravity/Center/crop/240x160/"
                alt="">
        </div>
        {{#each banner_data.entries}}
        <div class="banner">
            <h3>{{this.name}}</h3>
            <div class="food__title">
               {{this.description}}
            </div>
            <div class="buying">
                <span style="color:red;font-weight: 700;font-size: 0.32rem;">{{this.more.population}}</span>正在抢 >
            </div>
            <img src="https://fuss10.elemecdn.com/b/e1/0fa0ed514c093a7138b0b9a50d61fpng.png?imageMogr/format/webp/thumbnail/!240x160r/gravity/Center/crop/240x160/"
                alt="">
        </div>
        {{/each}}
    </div>